.side-menu-container {
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  width: 100px;
  transition: ease 0.5s;
}

.side-menu-container-extended {
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  width: 314px;
  transition: ease 0.5s;
}

.side-menu-wrapper {
  align-items: center;
  background-color: #2c366b;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 93vh;
  justify-content: space-between;
  margin: 10px;
  padding: 15px;
  position: fixed;
  width: 40px;
  transition: ease 0.5s;
}

.side-menu-wrapper-extended {
  align-items: center;
  background-color: #2c366b;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 93vh;
  justify-content: space-between;
  margin: 10px;
  padding: 15px;
  position: fixed;
  width: 170px;
  transition: ease 0.5s;
}

.side-menu-navlinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
  width: 70px;
  transition: ease 0.5s;
}

.side-menu-navlinks-extended {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
  width: 200px;
  transition: ease 0.5s;
}

.side-menu-link-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33%;
  justify-content: flex-start;
  padding-left: 22px;
}

.selected {
  background-color: #686c92;
}

.side-menu-icons {
  width: 26px;
}

.side-menu-icons-text {
  visibility: hidden;
  opacity: 0;
  color: white;
  transition: ease 0.2s;
  width: 0;
}

.side-menu-icons-text-extended {
  width: fit-content;
  visibility: visible;
  opacity: 1;
  color: white;
  transition: ease 0.5s;
  margin-left: 10px;
  margin-top: 5px;
}
